.main-header-logo {
    background-color: burlywood;
    background-repeat: no-repeat;
    display: block;

}

body {
    margin: 0;
    padding: 0;
    padding-left: 30px;

    width: 1200;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;

    background-color: #849d8f;
    background-image: url("/img/illumination-1.png");
    background-position: top center;
    background-repeat: no-repeat;
}

a {
    color: white;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #ffbc9e;
}

.site-navigation {
    display: flex;
    justify-content: space-between; 
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    margin-top: 15px;
    padding: 0;
    height: 20px;
    min-width: 377px;    

    list-style: none;
}

.menu-item a,
.delivery a,
.about-company a {
    display: block;
}

.menu-item a::after,
.delivery a::after,
.about-company a::after {
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(255,255,255,.2);
}

.site-navigation a {
    padding: 7px 14px;
}

.menu-item a:hover,
.menu-item a:focus {
    padding: 6px 14px;
    background-color: #f7f6f3;
    color: #323232;
    border-radius: 20px;
    text-decoration: none;
}

.menu-item a:focus {
    background-color: #ededed;
}

.user-navigation,
.working-time {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.working-time p {
    font-weight: 700;
    margin: 0;
    margin-bottom: 7px;
    text-align: right;
}

.working_telephone {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: 700;
}

.style {
    list-style: none;
}

.for-user {
    width: 245px;
    height: 90px;
    margin-left: auto;
    margin-right: 54px;
    min-height: 103px;
}

.user-navigation {     
    width: 245px;
    height: 33px;
    min-height: 20px;
}

.for-user-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
    padding: 0;
}

.site-loupe {
    padding: 7px 15px;
    border-radius: 50px;
    background-color: rgba(248, 247, 244, 0.3);
    background-image: url(/svg/loupe.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    width: 18px;
    height: 19px;
}

.site-loupe:hover {
    background-image: url(/img/loupe-black.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-color: #f8f7f4;
}

/* .site-loupe:before {
    content: "r";
    position: relative;
    color: black;
    top: 20px;
    margin-right: 10px;
    border: 1px solid red;
} */

.login-link,
.site-basket {
    position: relative;
    padding: 6px 16px;
    padding-left: 45px;
    border-radius: 20px;
    background-color: rgba(248, 247, 244, 0.3);
    text-decoration: none;
}

.login-link::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 15px;
    width: 22px;
    height: 21px;
}

.login-link {
    background-image: url(/img/entrance-white.png);
    background-repeat: no-repeat;
    background-position: 15px 5px;
}

.login-link:hover {
    background-image: url(/svg/entrance.svg);
    background-repeat: no-repeat;
    background-position: 15px 5px;
} 

.site-basket::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 15px;
    width: 23px;
    height: 21px;
}

.site-basket {
    background-image: url(/svg/basket.svg);
    background-repeat: no-repeat;
    background-position: 15px 5px;
}

.site-basket:hover {
    background-image: url(/svg/basket-red.svg);
    background-repeat: no-repeat;
    background-position: 15px 5px;
}

.working-time {
    width: 167px;
    height: 40px;
    margin-top: 20px;
    margin-left: auto;
}

.user-information a:hover {
    padding: 6px 16px;
    background-color: #f8f7f4;
    color: #323232;
    border-radius: 20px;
    text-decoration: none;    
    padding-left: 45px;
}

.gallery .content-title {
    margin: 0;
    margin-top: 15px;
    font-size: 60px;
    line-height: 60.35px;
    font-weight: 700;
    text-align: center;
}
.button {
    padding: 15px 25px;
    margin: 13px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fefefe;
    background-color: #f16542;
    border-radius: 50px;
    border: none;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 3px 0  rgba(0,0,0,0.3);
    outline: none;
}

.button:hover {
    color: white;
    background-color: #f17d65;
    box-shadow: 0 2px 3px 0 #ac1000;
    outline: none;
}

.button:focus {
    color: white;
    background-color: #dc5539;
    box-shadow: inset 0 2px 3px 0 #952718;
    outline: none;
}

.button-want {
    padding: 10px 42px;
    margin: 32px;
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3)
}

.catalog {
    margin-top: 17px;
}

.raspberries-chocolate {
    display: flex;
    justify-content: space-between;
    margin-top: -22px;
    min-height: 230px;
    width: 1146px;
    margin-left: 27px;
}

.background-raspberries h3,
.background-chocolate h3 {
    font-size: 35px;
    font-weight: 700;
    padding-left: 20px;
    margin-top: 23px;
    margin-bottom: 30px;
}

.background-raspberries p,
.background-chocolate p {
    font-size: 18px;
    font-weight: 700;
    padding-left: 20px;
    margin-bottom: ;
}

.background-raspberries {
    background-color: #891c3b;
    background-image: url("/img/raspberries.jpg");
    background-repeat: no-repeat;
    height: 230px;
    width: 560px;
    border-radius: 15px;
}

.background-chocolate {
    background-color: #4f2918;
    background-image: url("/img/chocolate.jpg");
    background-repeat: no-repeat;
    height: 230px;
    width: 560px;
    border-radius: 15px;
}

.button-chocolate .button,
.button-raspberries .button {
    padding: 12px 23px;
    margin: 0px;
    margin-left: 374px;
    margin-top: 20px;
}

.button-chocolate .button {
    margin-left: 350px;
}

.catalog-item-title {
    font-weight: 500;
}

.catalog-item b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

.catalog-item a {
    color: white;
    text-decoration: none;
    border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
}

.catalog-weight {
    font-size: 30px;
    line-height: 45px;
}

.button-ice {
    visibility: hidden;
    position: relative;
    bottom: 30px;
}

.catalog-item:hover {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 293px;
    height: 416px;
    box-shadow: 0 2px 3px 0  rgba(0,0,0,0.3);
}

.catalog-item:hover .button-ice {
    visibility: visible;
}

.catalog-item {
    height: 416px;
    width: 293px;
    list-style: none;
    text-align: center;
    padding-top: 7px;
}

.price {
    width: 155px;
    height: 40px;
    position: relative;
    bottom: 59px;
}

.catalog-itim-title {
    position: relative;
    text-align: center;
    height: 40px;
    bottom: 50px;
}

.index-hit {    
    height: 455px;
}

.catalog-style {
    display: flex;
    height: 425px;
    width: 1146px;
    margin: auto;
    margin-top: 27px;
}

.background-waffle {
    display: block;
    background-color: #eee1c9;
    background-image: url("/img/waffle.jpg");
    background-repeat: no-repeat;
    color: #323232;
    width: 1146px;
    height: 306px;
    margin-left: 27px;
    margin-top: -84px;
    border-radius: 15px;
}

.background-waffle .advant-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    padding-left: 21px;
}

.advant-title {
    display: inline-block;
    height: 54px;    
    width: 1146px;
    margin: auto;
    margin-top: 24px;
}

.waffle-style {
    width: 1100px;
    height: 188px;
    margin: auto;
    margin-top: 5px;
    flex-direction: column;
}

.waffle-style-column{
    display: flex;
    margin-bottom: 7px;
}

.style-column {
    display: flex;
    height: 90px;    
    width: 542px;
}

.technical-section {
    display: flex;
    width: 1146px;
    height: 220px;
    margin-left: 25px;
    margin-top: 42px;
    margin-bottom: 40px;
}

.blog {
    color: #323232;
    background-color: white;
    background-image: url(/img/strawberry.jpg);
    background-repeat: no-repeat;
    height: 220px;
    width: 560px;
    border-radius: 15px;
    font-weight: 500;
    padding-left: 20px;
}

.blog-news {
    color: #323232;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 2px rgba(53, 53, 53) solid;
}

.blog-news:hover{
    color: #e84d37;
    border-bottom: none;
}

.blog-news:focus {
    color: #e84d37;
    border-bottom: 2px #e84d37 solid;
}

.mailing {
    color: #5a5a5a;
    background-image: url(/img/bg-post.png);
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 220px;
    width: 560px;
    padding-left: 26px;
    margin-left: 28px;
    padding-top: 20px;
}

.mailing-form .input {
    border: 1px solid #999999;
    padding: 10px;
    border-radius: 7px;
    font-weight: 700;    
    line-height: 24px;  
    border-color: #c7c6c5;
}

.mailing-form .input:hover {
    outline:none;
    box-shadow: 0 0 0 1px #c7c6c5 inset;
}

.mailing-form .input:focus {
    outline:none;
    border: 1px solid #8fbdec;
    box-shadow: 0 0 0 1px #8fbdec inset; 
}

.mailing-form .input::-webkit-input-placeholder {
    color: #999999 !important;
    font-weight: 400;        
    font-size: 14px;
}

.mailing .input {
    width: 330px;
    font-size: 16px;
    outline: none;
}

.mailing-button {
    padding: 10px 20px;
}

.address {
    height: 430px;
}

.address-title {
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    background-color: #fefefe;
    border-radius: 20px;
    width: 302px;
    height: 305px;
    position: relative;
    margin-top: -375px;
    margin-left: 870px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.address-title p:first-child {
    padding-top: 30px;
}

.address-title p {
    padding-left: 25px;
    margin: 0;
    padding-bottom: 4px;
}

.address-title .address-title-bold {
    padding-bottom: 23px;
}

.address-title .for-orders,
.address-title .telephone {
    padding-bottom: 0; 
}

.address-title-bold {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.address-title button {
    padding: 10px 20px;
    margin-bottom: 31px;
    margin-left: 32px;
    margin-top: 18px;
}

.documents,
.formed {
    font-size: 13px;
    list-style: 18px;
}

.documents .for-providers {
    font-weight: 700;
    position: relative;
}

.documents .for-providers::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: -20px;
    width: 15px;
    height: 13px;

    background-image: url(/svg/heart.svg);
    background-repeat: no-repeat;
}

.documents a:hover,
.formed a:hover {
    color: #ffbc9e;
    border-bottom: none;
}

.documents a:focus,
.formed a:focus {
    color: #ffbc9e;
    border-bottom: 1px #ffbc9e solid;
}


/* ----- Сеточные стили ----- */

.visually-hidden {
    display: none;
}

.main-navigation {
    display: flex;
    padding-top: 10px;
    padding-left: 20px;
    min-height: 90px;
}

.index-logo {
    width: 154px;
    height: 64px;
    margin-right: 24px;
}

.gallery {
    display: flex;
    height: 584px;
    margin-top: -44px;
    flex-direction: column;
    align-items: center;
}

.background-ice {
    width: 647px;
    height: 584px;
    margin-bottom: -277px;
    background-image: url(/img/ice.png);
    background-repeat: no-repeat;
}

.background-ice-title {
    display: flex;
    width: 680px;
    height: 209px;
    flex-direction: column;
    align-items: center;
}

.main-footer {
    display: flex;
    height: 97px;
}

.social-network {
    display: flex;
    justify-content: space-between;
    width: 186px;
    height: 38px;
    margin-top: 35px;
    margin-left: 27px;
    margin-right: 210px;
}

.social-network a {
    border: 3px rgba(255, 255, 255, 0.5) solid;
    border-radius: 50px;
    opacity: 0.8;
}

.social-network a:hover {
    border: 3px rgba(255, 255, 255, 0.7) solid;
    opacity: 1;
}

.social-network .instagram:focus {
    border: 3px rgba(233, 233, 233, 0.7) solid;
    opacity: 1;
}

.documents {
    display: flex;
    justify-content: space-between;
    width: 330px;
    height: 37px;
    margin-top: 30px;
    margin-right: 200px;
}

.documents a,
.formed a {
    text-decoration: none;
    border-bottom: 1px rgba(255, 255, 255, 0.3) solid;
}
.documents p,
.formed p {
    margin: 0;
}

.formed{
    width: 205px;
    height: 59px;
    margin-top: 15px;
}

.modal {
    position: fixed;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #999999;

    background-color: #f8f7f4;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.modal-menu {
    top: 60px;
    left: 18%;

    line-height: 16px;
    width: 143px;
    /* padding: 15px 20px; */
    /* margin: 0; */
    border-radius: 5px;
    color: #323232;
}

.modal-menu ul {
    padding: 0;
    margin: 0;
}

.modal-menu li {
    padding: 8px 20px;
}

.modal-menu a {
    color: #323232;
    text-decoration: none;
}

.modal-menu li:hover {
    background-color: #fbded7;
    border-radius: 5px;
}

.modal-menu li:active,
.modal-menu li:focus {
    background-color: #f6b5a5;
    border-radius: 5px;
}

.modal-menu li:first-of-type {

    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: 700;
}

.modal-menu li:first-of-type::after {
    content: "";
    position: absolute;
    left: 6px;
    right: 9px;
    bottom: 0;
    height: 1px;
    background-color: #d1d0ce;
}

.modal-loupe {
    position: absolute;
    top: 60px;
    right: 267px;

    width: 310px;
    padding: 20px 15px;
    border-radius: 5px;
}

.modal-loupe input[type="text"] {
    box-sizing: border-box;
    border: 1px solid #c7c6c5;
    border-radius: 5px;
    width: 100%;
    padding: 13px;    
}

.modal-loupe input[type="text"]:hover,
.modal-input input[type="text"]:hover,
.modal-input input[type="password"]:hover {
    outline:none;
    box-shadow: 0 0 0 1px #c7c6c5 inset;    
}

.modal-loupe input[type="text"]:focus,
.modal-loupe input[type="text"]:active,
.modal-input input[type="text"]:focus,
.modal-input input[type="password"]:focus,
.modal-input input[type="text"]:active,
.modal-input input[type="password"]:active {
    outline:none;
    border: 1px solid #8fbdec;
    box-shadow: 0 0 0 1px #8fbdec inset;    
}

.modal-input {
    position: absolute;
    top: 60px;
    right: 163px;

    width: 241px;
    padding: 20px;
    border-radius: 5px;
}

.modal-input input[type="text"],
.modal-input input[type="password"] {
    box-sizing: border-box;
    border: 1px solid #c7c6c5;
    border-radius: 5px;
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
}

.modal-input button {
    margin: 0;
    padding: 10px 25px;
}

.modal-input-help {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 122px;
    top: 153px;
    left: 139px;
}

.modal-input-help a {
    font-size: 13px;
    line-height: 17px;
    color: #323232;
    text-decoration: none;
    border-bottom: 1px solid rgba(211, 211, 210);
}

.modal-input-help a:hover {
    color: #ffbc9e;
}

.site-loupe input {
    width: 311px;
}

.modal-login {
    top: 50%;
    left: 50%;
    margin-left: -215px;
    margin-top: -221px;
    width: 430px;
    padding: 25px;
    border-radius: 5px;
}

.modal-login h3 {
    font-size: 24px;
    line-height: 28px;
    color: #323232;
    margin: 0;
    margin-bottom: 25px;
}

.modal-login input[type="text"] {
    box-sizing: border-box;
    border: 1px solid #c7c6c5;
    border-radius: 5px;
    width: 100%;
    padding: 8px 13px 10px;    
    margin-bottom: 20px;
}

.feedback-form textarea {
    border: 1px solid #c7c6c5;
    border-radius: 5px;
    padding: 8px 13px 10px;
    margin-bottom: 20px;
    width: 402px;
    height: 155px;
    font-size: 16px; 
    resize: none;
    outline: none;
}

.modal-login input[type="text"]:hover,
.feedback-form textarea:hover {
    outline:none;
    box-shadow: 0 0 0 1px #c7c6c5 inset;    
}

.modal-login input[type="text"]:focus,
.modal-login input[type="text"]:active,
.feedback-form textarea:focus,
.feedback-form textarea:active {
    outline:none;
    border: 1px solid #8fbdec;
    box-shadow: 0 0 0 1px #8fbdec inset;    
}

.feedback input {
    width: 267px;
}

.modal-login-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 18px;
    height: 18px;
    border: 0;
    cursor: pointer;
    background-image: url(/svg/cross-big.svg);
    background-repeat: no-repeat;
    text-align:center;
    background-color: #f8f7f4;
    outline:none;
}

.modal-login .button {
    margin: 0;
    padding: 10px 25px;
    margin-left: 289px;
    outline: none;
    box-shadow: 0 1px 3px 0 #c9685d;
}

.modal-input,
.modal-loupe,
.modal-login,
.sub-menu {
    display: none;
}

/* .login-link:hover .modal-input {
    display: block;
} */

@keyframes bounce {
    0% { transform: translateY(-2000px); }
    70% { transform: translateY(30px); }
    90% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
} 

.modal-show {
    display: block;
    /* animation-name: bounce; */
    animation-duration: 0.6s;
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
    20%, 40%, 60%, 80% { transform: translateX(10px); }
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.6s;
}